
div
{
    display: flex;
    width: 600px;
    border: 10px solid;
    background-color: peachpuff;
}
p{

    display: flex;
    align-items: center;
    font-family: "Caviar Dreams", serif;
}

.image-view
{
    border: 20px solid indianred;
    height: 200px;
    margin: 12px;
    width: 200px;
}
li
{
    display: flex;
    margin:20px;
}